<!DOCTYPE HTML>
<html>

    <head>

        {% block head %}
        {% endblock %}


    </head>

    <body>
        {% block content %}
           
            <div class="page">
                <div class="inner">
                    This is the default content
                </div>
            </div>

            <div class="page">
                <div class="inner">
                    Second page
                </div>
                
            </div>

        {% endblock %}

        <link rel="stylesheet" href="style.css">
    </body>
</html>




