
<h2>Work experience</h2>

{% for job in work_experience %}

<div class="job">
    <img class="logo" src="imgs/{{ job.logo }}">
    <div class="text">

        <div class="jheader">
            <div class="years">{{ job.years }}</div>    
            <div class="place">{{ job.place }}</div>    
        </div>

        <div class="title">
            <span class="position">{{ job.position }}</span>
            @ {{ job.company }}

            <div class="tags">
                {% for tag in job.tags %}
                    <div class="tag">{{ tag }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="content">
            {{ job.content | safe }}
        </div>

    </div>
</div>

{% endfor %}
