

<div class="header">

    <!-- My photo -->
    <img class="me" src="{{ base64_img('me.jpg') }}">

    <div class="text">

        <h1>Javier Fresno</h1>

        <div class="titles">

            <p>Software Engineer</p>

            <p>Fullstack Developer</p>

            <!-- Maybe not very professional
            <p>Startup Survivor</p>
            -->
        </div>

    </div>

    <!-- Contact links -->
    <div class="links">
        <div class="link">
            <a href="mailto:javfres@gmail.com">
                <span class="svg-primary">
                    {{ inlineSVG('icons/mail.svg') | safe }}
                </span>
                javfres@gmail.com
            </a>
        </div>      


        <div class="link">

            <a href="https://linkedin.com/in/jfresno/">
                <span class="svg-primary">
                    {{ inlineSVG('icons/linkedin.svg') | safe }}
                </span>
                linkedin.com/in/jfresno
            </a>
        </div>


        <div class="link">
            <a href="https://github.com/javfres">
                <span class="svg-primary">
                    {{ inlineSVG('icons/github.svg') | safe }}
                </span>
                github.com/javfres
            </a>
        </div>
    
    </div> <!-- links -->
    
</div>   

