<div class="header">

    <!-- My photo -->
    <img class="me" src="imgs/me.jpg">

    <div class="text">

        <h1>{{ fullname }}</h1>

        <div class="titles">
            {% for t in titles %}
                <p>{{ t }}</p>
            {% endfor %}
        </div>

    </div>

    <!-- Contact links -->
    <div class="links">

        {% for link in title_links %}
            
            <div class="link">
                <a href="{{ link.href }}">
                    <span class="svg-primary">
                        {{ inlineSVG('icons/' + link.icon + '.svg') | safe }}
                    </span>
                    {{ link.text }}
                </a>
            </div>   

        {% endfor %}

    </div> <!-- links -->

</div>

