

{% include "header.njk" %}
<hr>

{% include "timeline.njk" %}
<hr>

<div class="row">
    
    <div class="column x2">

        {% include "experience.njk" %}



    </div>

    <!-- I had to put the vertical line manually -->
    <div class="divisor" style="height:600px"></div>

    <div class="column">
        {% include "aboutme.njk" %}

        <hr>       
        
        {% include "skills.njk" %}

    </div>

</div> <!-- row -->


{% include "thiscv.njk" %}
