
$debug: false;

/* ************************************************** */
/*  Base rules for pdf pages                          */
/* ************************************************** */

// 96 pdi
$page_width: 794px;
$page_height: 1123px;

$page_margins: 40px;
$column_sep: 30px;

/*
 * Main styles for the body and page
 */

@page {
    size: A4 portrait;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

@media print { body { -webkit-print-color-adjust: exact; } }


.page {
    position: relative;
    page-break-after: always;
    width: $page_width;
    height: $page_height;

    & > .inner {
        position: absolute;

        top: $page_margins;
        left: $page_margins;

        width:   $page_width - $page_margins * 2;
        height: $page_height - $page_margins * 2 ;

    }
}

/* Show page lines on debug*/
@if $debug {

    .page {
        border: dotted 0.5px rgb(192, 224, 118);

        & > .inner {
            border: dotted 0.5px rgb(214, 132, 132);
        }
    }
  
}


/* ************************************************** */
/*  Custom rules for JaviCV                           */
/* ************************************************** */


$primary_color:rgb(65,65,65);
$grey_color:   rgb(115,115,115);

/*
 * Fonts
 */

$font_monospace: 'Share Tech Mono', monospace;
$font_sans: 'Noto Sans', sans-serif;

body {
    font-family: $font_sans;
    font-size: 9pt;
    color:rgb(50, 50, 50);
}


/*
 * Other common styles
 */

/* Horizontal rule */
hr {

    border: 2px dotted $grey_color;
    border-style: none none dotted; 

    margin-top: 15px;
    margin-bottom: 15px;
}

/* svg */
.svg-primary svg path   {
    fill: $primary_color !important;
}


/* links */
a {
    text-decoration: none;
    color: $primary_color;
    font-family: $font_monospace;
}

/* titles */
h2 {
    font-size: 14pt;
    font-family: $font_monospace;
    color: $primary_color;
    margin-top: 0;
}

/* Code monospace */
.code {
    font-family: $font_monospace;
}



/*
 * Header
 */

.header {
    position: relative;
    width: 100%;
    height: 160px;


    & > img.me {

        position: absolute;
        top: 0;
        left: 0;

        width: 160px;
        height: 160px;

        filter: grayscale(70%); 
    }

    & > .text {

        position: absolute;
        top: 0;
        left: 170px;

        width: 200px;
        height: 160px;
    }



    & > .text  {
        position: relative;
        height: 100%;

        & > h1 {
            margin: 0;
            color: $primary_color;
            font-size: 30pt;
            font-family: $font_monospace;
        }

        & > .titles  {
            position: absolute;
            bottom: 0;

            & > p {
                margin-top: 0;
                color: $grey_color;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 11pt;
                margin-bottom: 0;
                margin-top: 8px;
            }
        }

    }



    & > .links  {
        position: absolute;
        right: 0;
        top: 10px;

        & > .link  {
            margin-bottom: 10px;

            svg  {
                height: 18px;
                width: 18px;
                margin-left: 20px;
                margin-right: 10px;
                vertical-align: -5px;
            }
        }

    }

}


/*
 * Row and column layout
 */

$inner_width: $page_width - $page_margins * 2;
$column_width: floor( ($inner_width - $column_sep * 2) / 3 );

.row {

    .column {

        width: $column_width;
        margin-left: $column_sep;
        display: inline-block;
        vertical-align:top;
        position: relative;

        &.x2 {
            width: $column_width * 2 + $column_sep;
        }

        &.x3 {
            width: $column_width * 3 + $column_sep * 2;
        }

        &:first-child {
            margin-left: 0;
        }

    }

    .divisor {
        display: inline-block;
        vertical-align:top;
        position: relative;
    
        margin-left:  floor($column_sep / 2) - 5px;
        margin-right:  floor($column_sep / 2) - 5px;
        min-height: 10px;
    
        border-left: 2px dotted $grey_color;

        & + .column {
            margin-left: 0;
        }

    }

}


/**
 * The timeline
 */

$timeline_margin: 10px;
$timeline_arrow_width: 20px;


.timeline {
    
    .row {

        width: $inner_width - $timeline_margin * 2 ;
        margin-left: $timeline_margin;
        margin-right: $timeline_margin;

        display: flex;
        flex-direction: row;
        align-items: stretch;

        .block {
            flex: 1; 
            text-align: center; 

            .title {
                font-weight: bold;
                color: $primary_color;
                min-height: 20px;
            }

            .desc {
                color: $grey_color;
                margin-top: 4px;
                margin-bottom: 10px;
            }

            .icon img svg {
                height: 30px;
            }

            .year {
                font-family: $font_monospace;
                color: $grey_color;
                margin-top: 12px;
                margin-bottom: 10px;
            }
            
        }

    }
}










/**
 * The color boxes
 */

$gradient_1: #a3ed9f;
$gradient_2: #9ebdf3;

.timeline > .line {

    position: relative;

    .row {
        position: absolute;
        top: 0;
        left: 0;

        .triangle {
            height: 10px;

            div {
                display: block;
                margin: auto;
                width: 10px;
                height: 10px;
                position: relative;
        
                svg {
                    top: -2px;
                    left: 0;
                    position: absolute;
                    display: block;
                    width: 10px;
                    height: 10px;

                    path {
                        fill: #ffffff !important; 
                    }

                }
            }

        }

    }

    margin-top: 2px;
    height: 10px;

    display: flex;


    .arrow {
        margin-left: 5px;
        margin-right: 5px;
        width: 10px;
        height: 10px;
        text-align: center;
        display: inline-block;
    
        svg {
            width: 10px;
            height: 10px;
            display: block;

        }

        &:first-of-type svg path {
            fill: $gradient_1 !important;
        }
        &:last-of-type svg path {
            fill: $gradient_2 !important;
        }
    
    }


    .side {
        width: 5px;
    }

    .main {
        background-color: blue;
        width: $inner_width - (20px * 2) - (5px * 2)  ;
        height: 10px;
        display: inline-block; 
        border-radius: 5px;

        background: linear-gradient(to right, $gradient_1 0%, $gradient_2 100%);

    }

}



/**
 * Work experience
 */

.job {
    position: relative;
    margin-top: 10px;
    margin-bottom: 25px;

    .logo {
        width: 60px;
        padding: 8px;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid $grey_color;
    }

    .text {
        margin-left: 100px;
        text-align: justify;

        .jheader {
            height: 20px;
            position: relative;
    
            color: $grey_color;
    
            border-bottom: 1px solid $grey_color;
            margin-bottom: 5px;

            .years {
                position: absolute;
                top: 0;
                left: 0;
            }

            .place {
                position: absolute;
                top: 0;
                right: 0;
            }

        }

        .title {
            position: relative;
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 12px;

            .position {
                font-family: $font_monospace;
                font-size: 14px;
            }

            .tags {
                position: absolute;
                top: 0;
                right: 0;

                .tag {
                    color: white;
                    background-color: $grey_color;
                
                    font-family: $font_monospace;
                    font-size: 8px;
                    padding: 2px;
                    padding-left: 5px;
                    padding-right: 5px;
                
                    border-radius: 3px;
                
                    opacity: 0.8;
                }
                
            }

        }

    }


}



/**
 * About me
 */

 .aboutme .text {
    font-size: 10pt;
    text-align: justify;
}



/**
 * Skills
 */

.skills > .tags {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;

    .tag {
        color: white;
     
        background-color: rgb(158,189,243);
        background-color: $grey_color;
        opacity: 0.8;
     
        font-family: $font_monospace;
        font-size: 10px;
     
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
     
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
     
        border-radius: 4px;
     
        display: inline-block;
     }
     

}




/**
 * This cv footer
 */

.thiscv {

    position: absolute;
    left: 0;
    bottom: 0;
    zoom: 0.8;

    p {
        margin-bottom: 0;
        padding-right: 50px;
    }
}

