

<div class="thiscv">

    <hr>
    <p>
    
        This resume has been generated using Node.js with TypeScript, HTML5 &amp; SASS, check it out at: <br>

        <a href="https://github.com/javfres/javicv.git" class="code">
            &gt; git clone https://github.com/javfres/javicv.git
        </a>

    </p>

</div>

