

<div class="timeline">

    <h2>Timeline</h2>

    <!-- Row with the jobs and icons -->
    <div class="row">
        {% for item in timeline %}

            <div class="block">
                <div class="title">{{ item.title }}</div>
                <div class="desc">{{ item.desc }}</div>
                <div class="icon">   
                    <span class="svg-primary">
                        {{ inlineSVG('icons/' + item.icon +'.svg') | safe }}
                    </span>
                </div>
            </div>

        {% endfor %}
    </div>
    
    <!-- The color rounded boxes -->
    <div class="line">
    
        <div class="arrow">
          <!--  {{ inlineSVG('icons/arrow.svg') | safe }}-->
        </div>
    
        <div class="box side"></div>

        <div class="main">
            {% for i in range(0, timeline.length-1) -%}
                <div class="box middle"></div>
            {%- endfor %}
        </div>

        <div class="box side"></div>

        <div class="arrow">

             <!--{{ inlineSVG('icons/arrow.svg') | safe }}-->

        </div>

    </div>

    <!-- Row with the years -->
    <div class="row">
        {% for item in timeline %}    
            <div class="block">
                <p class="year">{{ item.year }}</p>
            </div>
        {% endfor %}
    </div>


</div>