
/*
 * Header
 */


$headerH: 130px;

.header {

    position: relative;
    width: 100%;
    height: $headerH;

    & > img.me {

        position: absolute;
        top: 0;
        left: 0;

        width: $headerH;
        height: $headerH;

        filter: grayscale(70%); 
    }

    & > .text {

        position: absolute;
        top: 0;
        left: $headerH + 12px;

        width: 300px;
        height: $headerH;
 
        // My name
        & > h1 {
            margin: 0;
            color: $primary_color;
            font-size: 30pt;
            font-family: $font_monospace;
        }

        // My titles
        & > .titles  {
            
            position: absolute;
            bottom: 0;

            & > p {
                margin-top: 0;
                color: $grey_color;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 11pt;
                margin-bottom: 0;
                margin-top: 8px;
            }
        }

    }


    // header links (mail, linkedin...)
    & > .links  {
        position: absolute;
        right: 0;
        top: 10px;

        & > .link  {
            margin-bottom: 10px;

            svg  {
                height: 18px;
                width: 18px;
                margin-left: 20px;
                margin-right: 10px;
                vertical-align: -5px;
            }
        }

    }

} // .header
