
$debug: false;

/* ************************************************** */
/*  Base rules for pdf pages                          */
/* ************************************************** */

// 96 pdi
$page_width:   794px;
$page_height: 1123px;

$page_margins:  40px;
$column_sep:    30px;


@import 'page.scss';


/* ************************************************** */
/*  Custom rules for JaviCV                           */
/* ************************************************** */

$primary_color:rgb( 65, 65, 65);
$grey_color:   rgb(115,115,115);

@import 'fonts.scss';
@import 'common.scss';
@import 'header.scss';
@import 'row_column.scss';
@import 'timeline.scss';
@import 'experience.scss';
@import 'aboutme.scss';
@import 'skills.scss';
@import 'thiscv.scss';


